In [97]:
import pandas as pd
import os

def get_data(doc_name):
    data = pd.read_csv(doc_name)
    return data
data = get_data("./DA-IRONHACK-2019-COMPAÑEROS (2).csv")

data

       Nombre  Edad             Hobby                          Fun Fact
0     Eduardo    23            Fútbol              Futbolista Frustrado
1      Daniel    23     Tocar Batería          Tiene Mota pero no vende
2      Miguel    29            Correr          No toma duchas calientes
3       Brisa    31   Pasear al perro              Conoce cinco idiomas
4     Rodrigo    26      Jugar Tennis                      El Mezcalero
5       Jhoan    28   Escuchar Música   Se baña solamente con agua fría
6      Víctor    33    Juegos de Mesa         No terminó la Universidad
7       Jorge    27  Aprender idiomas              Miedo a los animales
8     Enrique    23           Patinar               Adicto al pan dulce
9    Patricia    26          Gimnasio    Politóloga queriendo programar
10      Ponce    25   Artes Marciales                   Artes Marciales
11   Fernando    33       Videojuegos                       Videojuegos
12     Emilio    24      Ver deportes      Filósofo queriendo programar
13      Paola    32        Jardinería               Aprendiendo Japonés
14      Diego    24       Videojuegos      La oveja negra de la familia
15      Josué    26           Caminar         Mordido por un murciélago
16     Ulises    25             Rugby             Colecciona Tazas feas
17    Gustavo    29       Videojuegos                      Usa chanclas
18    Rodolfo    30          natación              Futbolista Frustrado
19       Luis    26            Fútbol  Reprobó artes en el último grado
20  Alejandro    27         Atletismo        Cinta Negra en Tae Kwon Do

In [147]:
import random
import re
soy_data = data.sample()

soy_dict = soy_data.to_dict()
print(soy_dict)

soy = soy_dict["Nombre"]
print(soy)
Nombre = str(soy.values())
print(Nombre)

{'Nombre': {4: 'Rodrigo'}, 'Edad': {4: 26}, 'Hobby': {4: 'Jugar Tennis'}, 'Fun Fact': {4: 'El Mezcalero'}}
{4: 'Rodrigo'}
dict_values(['Rodrigo'])